.Header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../../Assets/Images/sea-background.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}